body, h1, h2, h3, h4 {

	font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; 
}


.nav > li > a {
	border-left-width: 3px;
	
}

.container {
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid 000000;
}

h1 {
	text-align: center;
}

#contentAffix a {
	color: #31152B;
}

#contentAffix .active {
	font-weight: bold;
	border-left-style: solid;
	border-left-color: #E6B098;
	background-color: #FDF7F5;
}

.gravatar {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	background-position:center;
	margin-right: 55px;
	margin-left: 55px;
	margin-bottom: 35px;
}

.intro {
	text-align: center;
}

#contacts {
	text-align: center;
	list-style-type: none;
	padding-left: 0px;
	margin: 30 30px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #FAEFEA, #F0CFC0, #FAEFEA); 
    background-image:    -moz-linear-gradient(left, #FAEFEA, #F0CFC0, #FAEFEA); 
    background-image:     -ms-linear-gradient(left, #FAEFEA, #F0CFC0, #FAEFEA); 
    background-image:      -o-linear-gradient(left, #FAEFEA, #F0CFC0, #FAEFEA); 
}

